
* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

:root {
    --text-color: #757575;
    --border-color: #e0e0e0;
    --white-color: #fff;
    --black-color:#000;
    --primary-color: #212121;
    --content-color: #121212;
    --header-height: 60px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }


html {
    /* mặc định 100% bằng 16px. nên chia 62,5% thì tương ứng với 10px */
    font-size: 62.5%;
    list-style: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
}